body{
	background: #FCEFEE;
margin:0;
}



.containor {
	
	top: 0;
	width: 80%;
	

}

header{
padding: 10px;
	background-color: black;
	opacity: 0.4;
	margin: top:0;left:0;right:0;
	
	/*-------------------------
position: fixed;
----------------------------*/
	


}
header:after{
	content:' ';
	display:table;
	clear:both;
}


nav{
	float: right;
	padding-top: 23;
	position: center;
	color: black;
	opacity: 0.7;

}
nav ul {
opacity: 0.7;
margin:0;
padding:0;
list-style: none;

}
nav li {
	display: inline-block;
	margin-left: 160px
    
}
nav a{

	text-transform: uppercase;
	text-decoration: none;
	color: white;
	
}


#banner{
	padding: 100px  0px;
	background-image: url(background-dog.jpg);
	
	background-size: cover;
	
}

#banner h1{
text-align: center;
position: 60px;
color:white;
font-size: 70px

}

#banner h2{
text-align: center;
color:white;
font-size: 50px
}


#banner p{
	text-align: center;
	color:white;
	font-size: 16px;
	margin: 70px;
	font-weight:lighter;
	
}

	
/*-------------------------
padding : top bottom left right
----------------------------*/
#foot  {
	padding:
	
}


 
#foot a{
color: 
}
 
#Maintext {
padding: 5px

}
/*

.textBlox {

background-color: white;
	
	height:500px;
	border-radius: 1%;
	padding-top: 3px;
	margin-left: 220px;
    box-shadow: 1px 2px 3px lightgrey;

}

*/